<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Noodle Bowls</h1>
        <h2>Where your shots can be as crooked as our noodles.</h2>
        <p>4826 John Street</p><br>
    </body>
</html>